
/*-- Reset Code --*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*img[width],img[height]{width:auto;height:auto;} wordpress hack to reset the attributes (while making responsive) */
/*-- Reset Code --*/

/*-- Fonts --*/
@font-face{
	font-family: 'Lemon-Regular';
	src:url(../fonts/Lemon-Regular.ttf) format('truetype');
}
@font-face{
	font-family: 'Oswald-Light';
	src:url(../fonts/Oswald-Light.ttf) format('truetype');
}
@font-face{
	font-family: 'Oswald-Regular';
	src:url(../fonts/Oswald-Regular.ttf) format('truetype');
}
/*-- Fonts --*/

/*-- Index-Page-Styling --*/

body {
	background: url("../images/bd.png") no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
	margin-top: 10px;
}




h1 {
     text-align: center;
    font-size: 25px;
    font-family: 'Alex Brush', cursive;
    color: rgb(255, 239, 239);
    margin-top: 6%;
    font-weight: 700;
}
 label
 {
	 color:rgb(255, 239, 239);
	font-size: 22px;
	 font-family:'Alex Brush', cursive;
	 margin-bottom:10px;
     margin-left: 30%;
       font-weight: 700;
 }
.signin {
    width: 25%;
    margin: 40px auto 0;
    background-color: rgba(0, 7, 159, 0.13);
    padding: 40px;
    border: 2px ridge #d38484;
    border-radius: 5px;
    -moz-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
	-webkit-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
	box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
	border-bottom:inset;

}

input.user {
    width: 83%;
    margin-left: 8px;
    margin-top: 5px;
    padding: 15px 0px 15px 40px;
    background: rgba(23, 24, 25, 0.29);
    border: 1px solid #270A0A;
    border-radius: 5px;
    font-family: 'Alex Brush', cursive;
    font-size: 15px;
    color:#FFFEFE;
    outline: none;
    margin-bottom: 10px;
    letter-spacing: 1px;
     font-weight: 700;
}
input.pass {
    width: 83%;
    margin-left: 8px;
	margin-top:5px;
     padding:15px 0px 15px 40px;
    background: rgba(23, 24, 25, 0.29) ;
    border: 1px solid #7B7474;
    border-radius: 5px;
    font-family: Oswald-Light;
    font-size: 18px;
    color: #D0C1C1;
    outline: none;
    margin-bottom: 10px;
    letter-spacing: 1px;
     font-weight: 700;
}

input[type="submit"] {
    margin-top: 0px;
    width: 100%;
 
    outline: none;
    border: 1px solid #540A0A;
    font-family: 'Alex Brush', cursive;
    font-size: 17px;
    color: rgb(255, 239, 239);
    background-color:rgba(255,255,255,0.5);
    border-radius: 5px;
     font-weight: 700;
    cursor: pointer;
}


.sim-button{
     background: rgba(23, 24, 25, 0.29);
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	width: 95%;
	cursor: pointer;
    border-radius: 5px;
}

.button11{
	color:  rgba(23, 24, 25, 0.29);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	
	position: relative;
	perspective: 2000px;	

}
.button11 a{
	color:  rgba(23, 24, 25, 0.29);
	text-decoration: none;
	display: block;
}
.button11 span{
	z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}
.button11::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.5);
	background-color:  rgba(23, 24, 25, 0.29);
}
.button11::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	border: 1px solid #1D0404;
	background-color:  rgba(23, 24, 25, 0.29);
}
.button11:hover::before{
	-webkit-transform: rotateX(60deg) translate(0px,40px);
	transform: rotateX(60deg) translate(0px,40px) ;	
}
.button11:hover::after{
	-webkit-transform: rotateX(-60deg) translate(0px,-40px)  ;
	transform: rotateX(-60deg) translate(0px,-40px) ;	
}












.footer {
    text-align: center;
    margin-top: 80px;
}
.footer p {
    font-family: Oswald-Regular;
    color: #FFF;
}
.footer a {
    font-family: Oswald-Regular;
    color: #FFF;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
	color: #190909;
}

/*-- Index-Page-Styling --*/

/*--- Responsinator Code ---*/

@media screen and (max-width: 1920px) {
	.signin {
    	    width: 35%;
	}
	input.user {
    	    width: 71.5%;
	}
	input.pass {
    	width: 87%;
	}
}

@media screen and (max-width: 1680px) {
	input.user {
	       width: 71.5%;
	}
	input.pass {
	    width: 85%;
	}
}

@media screen and (max-width: 1600px) {
	input.user {
      width: 94%;
	}
	input.pass {
    	width: 84%;
	}
}

@media screen and (max-width: 1440px) {
	.signin {
    	    width: 35%;
	}
}

@media screen and (max-width: 1366px) {
	input.user {
    	width: 83.5%;
	}
	input.pass {
    	width: 83.5%;
	}
}

@media screen and (max-width: 1280px) {
	.signin {
    	width: 27%;
	}
}

@media screen and (max-width: 1200px) {
	.signin {
        width: 45%;
	}
		input.user {
	    width: 84%;
	}
	input.pass {
	    width: 84%;
	}
}

@media screen and (max-width: 1080px) {
	input.user {
		width: 82.5%;
	}
	input.pass {
    	width: 82.5%;
	}
}

@media screen and (max-width: 1050px) {
	input.user {
    	width: 81.5%;
	}
	input.pass {
    	width: 81.5%;
	}
}

@media screen and (max-width: 1024px) {
	.signin {
    	width: 31%;
	}
	.footer {
    	margin-top: 80px;
	}
}

@media screen and (max-width: 966px) {
	.signin {
    	width: 33%;
	}
}

@media screen and (max-width: 900px) {
	.signin {
		width: 35%;
	}
}

@media screen and (max-width: 853px) {
	.signin {
    	width: 38%;
	}
}

@media screen and (max-width: 800px) {
	.signin {
    	width: 40%;
	}
}

@media screen and (max-width: 768px) {
	.signin {
    	width: 40%;
	}
	input.user {
    	width: 81%;
	}
	input.pass {
    	width: 81%;
	}
}

@media screen and (max-width: 736px) {
	.signin {
    	width: 42%;
	}
}

@media screen and (max-width: 667px) {
	.signin {
    	width: 47%;
	}
}

@media screen and (max-width: 640px) {
	input.user {
	    width: 80%;
	}
	input.pass {
	    width: 80%;
	}
}

@media screen and (max-width: 603px) {
	.signin {
    	width: 51%;
	}
}

@media screen and (max-width: 600px) {
	.signin {
    	width: 51%;
	}
}

@media screen and (max-width: 568px) {
	h1 {
	    font-size: 35px;
	    margin: 35px 0 0;
	}
	.signin {
    	width: 50%;
    	margin: 60px auto 0;
	}
}

@media screen and (max-width: 533px) {
	.signin {
    	width: 58%;
	}
}

@media screen and (max-width: 480px) {
	.signin {
    	width: 63%;
	}
}

@media screen and (max-width: 441px) {
	h1 {
	    font-size: 35px;
	    margin: 50px 0;
	}
	.signin {
    	width: 75%;
    	margin: 50px auto;
   	    padding: 25px;
	}
	input.user {
	    width: 82%;
	    padding: 7px 10px 7px 45px;
	    font-size: 17px;
	    background: rgba(23, 24, 25, 0.29)  no-repeat 10px 6px;
	}
	input.pass {
	    width: 82%;
	    padding: 7px 10px 7px 45px;
	    font-size: 17px;
        background: rgba(23, 24, 25, 0.29);
	}
	
	.footer {
    	margin: 100px 15px 0;
	}
	.footer p {
    	font-size: 14px;
	}
}

@media screen and (max-width: 384px) {
	h1 {
    	font-size: 32px;
	}
	input.user {
	    width: 79%;
	}
	input.pass {
	    width: 79%;
	}
}

@media screen and (max-width: 375px) {
	h1 {
    	font-size: 30px;
	}
	.signin {
    	width: 75%;
    	padding: 25px;
	}
	input.user {
	    width: 79%;
	    padding: 7px 10px 7px 45px;
	    font-size: 16px;
        background: rgba(23, 24, 25, 0.29) ;
	}
	input.pass {
	    width: 79%;
	    padding: 7px 10px 7px 45px;
        font-size: 16px;
        background: rgba(23, 24, 25, 0.29) no-repeat 10px 6px;
	}

	.footer {
    	margin: 100px 10px 0;
	}
	.footer p {
    	font-size: 12px;
	}
}

@media screen and (max-width: 360px) {
	input.user {
	    width: 78%;
	}
	input.pass {
	    width: 78%;
	}
}

@media screen and (max-width: 320px) {
	h1 {
    	font-size: 27px;
    	margin: 35px 0;
    }
	.signin {
    	width: 80%;
   	    margin: 40px auto;
    	padding: 20px;
    }
	input.user {
	    width: 76.5%;
	    padding: 7px 10px 7px 45px;
	    font-size: 16px;
	    background: rgba(23, 24, 25, 0.29) no-repeat 10px 6px;
	}
	input.pass {
	    width: 76.5%;
	    padding: 7px 10px 7px 45px;
	    font-size: 16px;
	    background: rgba(23, 24, 25, 0.29)  no-repeat 10px 6px;
	}
	
	
}

/*--- Responsinator Code ---*/